.third-section {
  padding-top: 143px;
  height: 992px;
  max-width: 1413px;
  display: flex;
  align-items: flex-start;

  &__block {
    flex: 0 0 50%;

    &:last-of-type {
      padding-left: 58px;
    }
  }

  &__items {

  }

  &__item {
    margin-top: 30px;
    @include transition-ease;

    &_caption {
      font-weight: bold;
      font-size: 19px;
      line-height: 31px;
      margin-bottom: 3px;
    }

    &_text {
      font-weight: 300;
      font-size: 16px;
      line-height: 174.7%;
    }
  }
}