.third-section {
  padding-top: 143px;
  height: 992px;
  max-width: 1413px;
  display: flex;
  align-items: flex-start;

  @include response-to(huge) {
    padding-top: 80px;
    height: 775px;
    padding-left: 20px;
  }

  @include response-to(small) {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 130px;
  }

  &__block {
    flex: 0 0 50%;

    &:last-of-type {
      padding-left: 58px;

      @include response-to(small) {
        padding-left: 0;
      }
    }

    @include response-to(small) {
      flex: 0 0 100%;
    }

    &.interactive {

      @include response-to(small) {
        order: 2;

        #process-svg {
          position: relative;
          width: 90vw;
          max-width: 400px;
          height: auto;
          left: unset;
        }
      }
    }
  }

  &__items {

  }

  &__item {
    margin-top: 30px;
    @include transition-ease;
    opacity: 0;

    @include response-to(small) {
      display: none;
    }

    &.show {
      opacity: 1;

      @include response-to(small) {

        &:last-of-type {
          display: block;
        }
      }
    }

    &_caption {
      font-weight: bold;
      font-size: 19px;
      line-height: 31px;
      margin-bottom: 3px;
    }

    &_text {
      font-weight: 300;
      font-size: 16px;
      line-height: 174.7%;
    }
  }
}