.loader {
  @include transition-ease;
  opacity: 0;
  z-index: -1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex-center();
  background: linear-gradient(179.49deg, #FFE686 5.25%, #F7B545 59.89%, #F6A51B 96.87%);

  &.active {
    opacity: 1;
    z-index: 10000;
  }
}