.container {
  max-width: $container;
  padding: 0;
  margin: 0 auto;

  @include response-to(large) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.no-scrolling {
  overflow: hidden;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.border-50 {
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

body {

}
