.container {
  max-width: $container;
  padding: 0;
  margin: 0 auto;

  @include response-to(large) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.no-scrolling {
  overflow: hidden;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.border-50 {
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.section-caption {
  font-size: 48px;
  line-height: 118px;
  font-weight: bold;
}

.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center-y {
  top: 50%;
  transform: translateY(-50%);
}

body {

}
